## Create a Neural Network

### Load the data

In [1]:
import seaborn as sns
df_crashes = sns.load_dataset('car_crashes')

In [2]:
df_crashes.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

### Feature Processing

In [3]:
explanatory = df_crashes.drop(columns=['total','abbrev'])
target = df_crashes.total
explanatory.head()

   speeding  alcohol  not_distracted  no_previous  ins_premium  ins_losses
0     7.332    5.640          18.048       15.040       784.55      145.08
1     7.421    4.525          16.290       17.014      1053.48      133.93
2     6.510    5.208          15.624       17.856       899.47      110.35
3     4.032    5.824          21.056       21.280       827.34      142.39
4     4.200    3.360          10.920       10.680       878.41      165.63

### Create a Model

1. Import libraries
2. Instantiate
3. Add layers & Compile
4. Fit
5. Evaluate
6. Predictions

In [4]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras import initializers

In [5]:
model_tf = Sequential()

In [6]:
model_tf.add(Dense(12, input_shape=(6,), activation='relu', kernel_initializer=initializers.RandomNormal(mean=0.0, stddev=0.05,seed=1)))
model_tf.add(Dense(8, activation='relu'))
model_tf.add(Dense(1, activation='linear'))

### Compile keras model

In [7]:
model_tf.compile(
    optimizer='adam',
    loss='mse',
    metrics=['accuracy'],)

### Fit the model

In [8]:
model_tf.fit(explanatory, target, epochs=500, batch_size=5, verbose=0)

### Evaluate Keras Model

In [9]:
model_tf.evaluate(explanatory, target)

2/2 [==============================] - 0s 7ms/step - loss: 0.8589 - accuracy: 0.0000e+00

[0.858869194984436, 0.0]

### Predictions

In [10]:
import pandas as pd
data= model_tf.predict(explanatory)
df_pred = pd.DataFrame(data)
df_pred= df_pred.rename(columns={0: 'model_pred'})
df_pred['realvalues'] = df_crashes.total
df_pred

    model_pred  realvalues
0    18.477684        18.8
1    18.246849        18.1
2    18.802992        18.6
3    22.946537        22.4
4    12.913389        12.0
5    14.229865        13.6
6    11.554873        10.8
7    17.383938        16.2
8     6.987589         5.9
9    18.439270        17.9
10   16.141279        15.6
11   18.193989        17.5
12   15.895391        15.3
13   14.461548        12.8
14   15.411141        14.5
15   15.648989        15.7
16   16.527054        17.8
17   18.223259        21.4
18   21.505939        20.5
19   14.723778        15.1
20   13.949822        12.5
21    8.635167         8.2
22   13.516475        14.1
23   10.283990         9.6
24   15.828756        17.6
25   16.644814        16.1
26   21.663948        21.4
27   15.748259        14.9
28   16.294125        14.7
29   11.704586        11.6
30   10.716308        11.2
31   18.042328        18.4
32   11.924682        12.3
33   16.662113        16.8
34   25.179115        23.9
35   14.745385        14.1
36   21.136749        19.9
37   12.160666        12.8
38   18.970449        18.2
39   11.533786        11.1
40   24.160683        23.9
41   19.610441        19.4
42   18.491314        19.5
43   20.362078        19.4
44   11.346742        11.3
45   14.662474        13.6
46   13.196404        12.7
47   10.818419        10.6
48   23.620789        23.8
49   12.262050        13.8
50   17.558346        17.4